<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type">
  <style type="text/css">
    ol {
      margin: 0;
      padding: 0
    }

    table td, table th {
      padding: 0
    }

    .c10 {
      background-color: #fbfcfc;
      font-size: 13.5pt;
      color: #1155cc;
      text-decoration: underline
    }

    .c9 {
      background-color: #ffffff;
      max-width: 468pt;
      padding: 72pt 72pt 72pt 72pt
    }

    .c7 {
      background-color: #fbfcfc;
      font-size: 13.5pt;
      color: #403f3e
    }

    .c5 {
      font-size: 17pt;
      font-family: "Times New Roman"
    }

    .c1 {
      orphans: 2;
      widows: 2
    }

    .c6 {
      padding-bottom: 5pt;
      line-height: 2.727272727272727
    }

    .c3 {
      padding-bottom: 8pt;
      line-height: 1.3636363636363635
    }

    .c13 {
      color: inherit;
      text-decoration: inherit
    }

    .c0 {
      font-size: 12pt;
      font-family: "Times New Roman"
    }

    .c4 {
      color: #818285;
      font-size: 17.5pt
    }

    .c11 {
      font-size: 29.5pt
    }

    .c8 {
      padding-bottom: 8pt
    }

    .c2 {
      font-size: 27.5pt
    }

    .c12 {
      height: 11pt
    }

    .title {
      padding-top: 0pt;
      color: #000000;
      font-size: 26pt;
      padding-bottom: 3pt;
      font-family: "Arial";
      line-height: 1.15;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: left
    }

    .subtitle {
      padding-top: 0pt;
      color: #666666;
      font-size: 15pt;
      padding-bottom: 16pt;
      font-family: "Arial";
      line-height: 1.15;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: left
    }

    li {
      color: #000000;
      font-size: 11pt;
      font-family: "Arial"
    }

    p {
      margin: 0;
      color: #000000;
      font-size: 11pt;
      font-family: "Arial"
    }

    h1 {
      padding-top: 20pt;
      color: #000000;
      font-size: 20pt;
      padding-bottom: 6pt;
      font-family: "Arial";
      line-height: 1.15;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: left
    }

    h2 {
      padding-top: 18pt;
      color: #000000;
      font-size: 16pt;
      padding-bottom: 6pt;
      font-family: "Arial";
      line-height: 1.15;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: left
    }

    h3 {
      padding-top: 16pt;
      color: #434343;
      font-size: 14pt;
      padding-bottom: 4pt;
      font-family: "Arial";
      line-height: 1.15;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: left
    }

    h4 {
      padding-top: 14pt;
      color: #666666;
      font-size: 12pt;
      padding-bottom: 4pt;
      font-family: "Arial";
      line-height: 1.15;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: left
    }

    h5 {
      padding-top: 12pt;
      color: #666666;
      font-size: 11pt;
      padding-bottom: 4pt;
      font-family: "Arial";
      line-height: 1.15;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: left
    }

    h6 {
      padding-top: 12pt;
      color: #666666;
      font-size: 11pt;
      padding-bottom: 4pt;
      font-family: "Arial";
      line-height: 1.15;
      page-break-after: avoid;
      font-style: italic;
      orphans: 2;
      widows: 2;
      text-align: left
    }
  </style>
</head>
<body class="c9">
<p class="c1 c6">
  <span class="c4">Desi Talkies</span>
</p>
<p class="c1 c6">
  <span class="c11">TERMS OF USE</span>
</p>
<p class="c1 c8">
  <span class="c0">IMPORTANT &ndash; READ CAREFULLY. THESE TERMS OF USE (INCLUDING THE PRIVACY POLICY INCORPORATED HEREIN BY REFERENCE) SET FORTH THE LEGAL AGREEMENT BETWEEN YOU AND DESI TALKIES, LLC RELATING TO YOUR ACCESS AND USE OF THE SERVICE OF DESI TALKIES, LLC.</span>
</p>
<p class="c1 c8">
  <span class="c0">BY CLICKING TO &ldquo;ACCEPT&rdquo; OR &ldquo;AGREE&rdquo; TO THESE TERMS OF USE WHEN THIS OPTION IS MADE AVAILABLE TO YOU OR BY ACCESSING DESI TALKIES&rsquo;S SERVICE, WHICHEVER IS FIRST TO OCCUR, YOU AGREE THAT YOU HAVE READ THESE TERMS OF USE AND AGREE TO BE LEGALLY BOUND BY THESE TERMS OF USE. IF YOU DO NOT AGREE TO THESE TERMS OF USE, DO NOT CLICK &ldquo;ACCEPT&rdquo;
    OR &ldquo;AGREE&rdquo; AND DO NOT ACCESS OR USE THE SERVICE.</span>
</p>
<p class="c1 c3">
  <span class="c7">These Terms of Use set forth the legal agreement between Desi Talkies, LLC, a New York limited liability company (&ldquo;Desi Talkies&rdquo;) and you relating to your access to and use of the software and services offered by Desi Talkies, including all Desi Talkies applications, all Desi Talkies websites, and all content contained therein (collectively, the &ldquo;Services&rdquo;). Desi Talkies may revise and update these Terms of Use from time to time in Desi Talkies&rsquo;s sole discretion. It is your responsibility to check these Terms of Use periodically for changes. Your continued use of the Services following the posting of revised Terms of Use means that you accept and agree to the changes.</span>
</p>
<p class="c1 c3">
  <span class="c7">You hereby agree to Desi Talkies&rsquo;s Privacy Policy located at </span>
  <span class="c10">
    <a class="c13"
       href="https://www.google.com/url?q=http://www.desi-talkies.com/privacy-policy&amp;sa=D&amp;ust=1472356175389000&amp;usg=AFQjCNGszRAs_bZc518PTJGU0O2vtFF0cA">http://www.desi-talkies.com/privacy-policy</a>
  </span>
  <span class="c7">
    &nbsp;and acknowledge that it applies to your access to and use of the Services and any and all information provided by, or collected from, you relating to your access to and use of the Services. The terms and conditions of the Privacy Policy are hereby incorporated into these Terms of Use.</span>
</p>
<p class="c1 c6"><span class="c2">1. License.</span></p>
<p class="c1"><span class="c5">1.1 Grant of License.</span><span class="c0">&nbsp;Desi Talkies hereby grants to you a revocable, non-exclusive, non-transferrable right to download and install the Services on any mobile or other electronic device controlled by you (each a &ldquo;Device&rdquo;), and to access and use the Services on such Device strictly in accordance with these Terms of Use for the purposes for which Desi Talkies makes such Services available (the right to download, install, access and use the Services is referred to as the &ldquo;License&rdquo;).</span>
</p>
<p class="c1"><span class="c5">1.2 Capacity.</span><span class="c0">&nbsp;To use the Services, you must be, and represent and warrant that you are, of legal age (18 years and over) and of legal competence to enter into a binding agreement with Desi Talkies, and that you are not otherwise prohibited from using or receiving the Services in accordance with these Terms of Use. By using the Services on behalf of any third party you represent that you are an authorized representative of that third party and that your use of the Services on behalf of that third party constitutes acceptance by such third party of these Terms of Use.</span>
</p>
<p class="c1"><span class="c5">1.3 Termination.</span><span class="c0">&nbsp;You may stop using the Services at any time, except to the extent you agree otherwise in the use of particular Services offered on a subscription or similar basis. Desi Talkies may terminate your access to the Services in whole or in part if it reasonably believes you have breached these Terms of Use, or any other related terms, guidelines or policies. Following termination, you will not be permitted to use the Services. If your access to the Services is terminated, Desi Talkies may exercise whatever means it deems necessary to prevent unauthorized access to the Services, including, but not limited to, technological barriers, IP mapping, and direct contact with your Internet service provider. These Terms of Use will survive indefinitely unless and until Desi Talkies chooses to terminate them, regardless of whether any account you open is terminated by you or Desi Talkies or whether you continue to use or continue to have the right to use the Services.</span>
</p>
<p class="c1 c6"><span class="c2">2. Reservation of Rights; Restrictions.</span></p>
<p class="c1"><span class="c5">2.1 Reservation of Rights.</span><span class="c0">&nbsp;The License granted to you does not transfer to you any right, title or interest in or to any of Desi Talkies&rsquo;s intellectual property rights or those of our suppliers or licensors. The License is a limited license, and you have no other right, title or interest in the Services, including, but not limited to, the Software. Any rights not expressly granted to you are fully reserved by us and our suppliers or licensors, as applicable, and no such rights are conferred by estoppel, operation of law, implication or otherwise.</span>
</p>
<p class="c1"><span class="c5">2.2 Restrictions on Your Activities.</span><span class="c0">&nbsp;You agree that you will not: (i) decompile, reverse engineer, disassemble, attempt to derive the source code of, or decrypt the Software; (ii) make any modification, adaptation, improvement, enhancement, translation or derivative work from the Software; (iii) violate any applicable laws, rules or regulations in connection with your access or use of the Services; (iv) remove, alter or obscure any proprietary notice (including any notice of copyright or trademark) of Desi Talkies or its affiliates, partners, suppliers or the licensors of the Services or otherwise obscure or modify the manner in which the Services are displayed by means of the Software; (v) install, use or permit the Software to exist on more than one Device at a time or on any other mobile device or computer, other than by means of your separate downloads of the Software, each of which is subject to a separate license (this restriction however does not limit your right to reinstall the Software on the specific Device for which it was downloaded); (vi) distribute or link the Services to multiple Devices or other services; (vii) make the Services available over a network or other environment permitting access or use by multiple Devices or users at the same time; (viii) use the Services for data mining, scraping, crawling, redirecting, or compiling a collection of listings or data &nbsp;for any purpose &nbsp;(including, without limitation, for use by a listing product or listing service that is, directly or indirectly, competitive with or in any way a substitute for any services offered by Desi Talkies) other than one authorized pursuant to this License; (ix) use the Services to send automated queries or to send any unsolicited commercial faxes, phone calls, mail, text messages, or e-mail. YOU ACKNOWLEDGE THAT YOUR USE OF THE SERVICES TO ENABLE THE TRANSMISSION OF UNSOLICITED VOICE MESSAGES, FACSIMILES, TEXT MESSAGES OR EMAILS IS IN VIOLATION OF THIS LICENSE AND MAY BE IN VIOLATION OF FEDERAL AND STATE LAWS AND REGULATIONS THAT MAY SUBJECT YOU TO PENALTIES UNDER APPLICABLE LAWS; (x) use the Services to attempt to interfere with the proper functioning and display or the proper operation and usage of the Services or the Desi Talkies websites by any other authorized users and third parties; or (xi) use any proprietary information or interfaces of the Services or other intellectual property for any reason.</span>
</p>
<p class="c1"><span class="c5">2.3 Restrictions on Use of Data or Materials.</span><span class="c0">&nbsp;You agree that you will not use the Services for any revenue generating endeavor, commercial enterprise, or other purpose for which it is not designed or intended. By using the Services, you agree that you will not copy, reproduce, alter, modify, create derivative works from, rent, lease, loan, sell, distribute or publicly display (except for your own personal, non-commercial use) any of the data or materials accessed by the Services without the prior written consent of Desi Talkies. You agree that you will not use the data or materials accessed by the Services for any unauthorized non-commercial marketing and promotional campaigns, target or mass solicitation campaigns or political campaigning.</span>
</p>
<p class="c1"><span class="c5">2.4 Limitations on Use.</span><span class="c0">&nbsp;You may use the Services and any data or materials made available to you in connection with your use of the Services only as expressly permitted by these Terms of Use and only in a manner that does not interfere with Desi Talkies&rsquo;s right or ability to provide the Services to others or any third party&rsquo;s right or ability to use or enjoy the Services. Without limitation, you may not: (i) infringe, violate, or transgress any right of any party; (ii) attempt to bypass, disrupt or interfere with the security, provision or use of the Services; (iii) impersonate another person or entity, misrepresent your affiliation with a person or entity, or use a false identity; (iv) attempt to obtain unauthorized access to the Services; (v) engage, directly or indirectly, in any type of unsolicited communication; (vi) collect, manually or through an automatic process, information about other users without their express consent; (vii) submit false or misleading information to Desi Talkies; (viii) violate any law, rule, or regulation; (ix) use any of Desi Talkies&rsquo;s trademarks, service marks, or other portion of the Services (including in connection with meta tags or other &ldquo;hidden text&rdquo;) in advertising, promotions, or for other commercial purposes; (x) use the desi-talkies.com domain name or any domain name for any purpose; (xi) link to or &ldquo;frame&rdquo;
    any Desi Talkies website or Application (including deep linking to a specific portion of any Desi Talkies website or Application) or overlay content on the Services; (xii) conduct script searches or use search results of the Services in a manner that results in the automated display of any material or other information on a third party website; (xiii) use the Services to compile information about a product or service for use in connection with a listing for a competitive product or service; (xiv) take any action that may undermine the ratings or review or similar process(es) under the Services; or (xiv) assist any third party in engaging in any activity prohibited by these Terms of Use. Desi Talkies reserves the right, but not the obligation, to monitor the Services for the purpose of determining that your usage is in compliance with these Terms of Use.</span>
</p>
<p class="c1 c6"><span class="c2">3. Third Party Content and Service.</span></p>
<p class="c1"><span class="c5">3.1 Third Party Software.</span><span class="c0">&nbsp;Some or all of the Services may be provided by an affiliate or subsidiary of Desi Talkies or a third party, and you may be subject to both this License and the terms of service of that third party. Certain portions of the Services may utilize or include third party software that is subject to open source and third party license terms (&ldquo;Third Party Software&rdquo;). You acknowledge and agree that your right to use such Third Party Software as part of, or in connection with, the Services is subject to and governed by the terms and conditions of the open source or third party license applicable to such Third Party Software, including, without limitation, any applicable acknowledgements, license terms and disclaimers contained therein. In the event of a conflict between the terms of this License and the terms of such open source or third party licenses with regard to your use of the relevant Third Party Software, the terms of the open source or third party licenses shall control. In no event shall the Services or components thereof be deemed to be &ldquo;open source&rdquo;
    or &ldquo;publicly available&rdquo; software.</span></p>
<p class="c1"><span class="c5">3.2 Third Party Content.</span><span class="c0">&nbsp;Desi Talkies may provide access to third party content, such as user-generated reviews, other content submitted by users of the Services, and links to third-party websites. Desi Talkies does not, unless otherwise provided: (i) undertake any obligation to review, screen, or investigate materials or other information submitted or otherwise provided by third parties (including other users) in connection with the Services; (ii) undertake any obligation to review, screen, or investigate third parties who provide links to their websites (or the websites of other third parties) or the content of any such websites; or (iii) endorse any positions, ideas, ideologies, concepts, or opinions contained in such third-party content. Desi Talkies is not responsible for any third party materials or other information, including whether the information is accurate or suitable or available for your use, for the performance or operation of any third party website, for any products or services advertised or sold by any third party (including on or through a third party&rsquo;s website), or for any other action or inaction by any third party. Your use of any such third party materials will be subject to those terms to which you and the third party agree. Desi Talkies will have the right to delete or modify any third-party content in its sole discretion. You assume all risks arising out of or resulting from your transaction of business over the Internet, and you agree that Desi Talkies is not responsible or liable for any loss or damage resulting from your use of third-party content, websites, or services.</span>
</p>
<p class="c1 c6"><span class="c2">4. Use of the Services.</span></p>
<p class="c1"><span class="c5">4.1 Compatibility.</span><span class="c0">&nbsp;Desi Talkies does not warrant that the Services will be compatible or interoperable with your Device or any other piece of hardware, software, equipment or device installed on or used in connection with your Device. You acknowledge and agree that Desi Talkies and its affiliates, partners, suppliers and licensors shall have no liability to you for any losses suffered resulting from or arising in connection with compatibility or interoperability problems.</span>
</p>
<p class="c1"><span class="c5">4.2 Third Party Claims.</span><span class="c0">&nbsp;You acknowledge that you are responsible for addressing any third party claims relating to your use or possession of the Services, and agree to notify Desi Talkies of any third party claims relating to the Services of which you become aware. Furthermore, you hereby release Desi Talkies from any liability resulting from your use or possession of the Services.</span>
</p>
<p class="c1"><span class="c5">4.3 Maintenance and Support.</span><span class="c0">&nbsp;Desi Talkies has no obligation to maintain or support the Services. Desi Talkies may, without further notice to you, periodically update, modify, add to or upgrade the Services. In rare instances, such updates, modifications, additions or upgrades may cause data loss or other issues. You are solely responsible for regularly backing your data to prevent this from occurring.</span>
</p>
<p class="c1"><span class="c5">4.4 Phone/Data Service.</span><span class="c0">&nbsp;You acknowledge and understand that certain aspects of the Services require and utilize phone service, data access or text messaging capability. Except as otherwise noted as part of the Services, Desi Talkies does not charge for the use of the Services, but carrier rates for phone, data and text messaging may apply and you are responsible for any such charges.</span>
</p>
<p class="c1"><span class="c5">4.5 Geo-Positional Information.</span><span class="c0">&nbsp;The functional use of the Services may depend upon data related to your geographic location and geo-positional data, and you acknowledge and agree that your failure to provide (or make accessible) that data may limit the functionality of the Services. Desi Talkies makes no warranty with respect to the accuracy of Services provided to you in reliance on location and geo-positional data provided by you via your Device.</span>
</p>
<p class="c1"><span class="c5">4.6 Use in Motor Vehicles.</span><span class="c0">&nbsp;When using the Services in a motor vehicle, you shall: (i) observe all traffic laws and otherwise drive safely; (ii) use your good personal judgment while driving, and if you feel that any directions or route suggested by the Services instructs you to perform an unsafe or illegal maneuver, places you in an unsafe situation, or directs you into an area that you consider to be unsafe, then you will not follow such suggested directions or route; (iii) not input destinations, or otherwise interact with the Services, unless your vehicle is stationary and legally parked; (iv) not use the Services for any illegal, unauthorized, unintended, unsafe, hazardous, or unlawful purposes, or in any manner inconsistent with this License; and (v) arrange all wireless devices and cables necessary for use of the Services or Device in a secure manner in your vehicle so that they will not interfere with your driving and will not prevent the operation of any safety device (such as an airbag).</span>
</p>
<p class="c1 c6"><span class="c2">5. Desi Talkies&rsquo;s Intellectual Property.</span></p>
<p class="c1"><span class="c5">5.1 Intellectual Property Covenants.</span><span class="c0">&nbsp;By downloading, installing, accessing or using the System, you acknowledge the validity and enforceability of Desi Talkies&rsquo;s copyright in the underlying Software and code. The Software and the accompanying materials are licensed, not sold, to you. Desi Talkies maintains ownership of all copyright interests in the Software, including any derivative works based upon the Software. Unauthorized copying of the Software or accompanying materials, even if modified, merged, or included with other Software, or of the written materials, is expressly forbidden. You may be held legally responsible for any infringement of intellectual property rights that is caused or encouraged by your failure to abide by the terms of this Agreement. You may make a reasonable number of archival copies of the Software for backup and recovery purposes. In any case, when a copy is created, any copyright notices included in the Software must be reproduced in their entirety on the copy.</span>
</p>
<p class="c1 c6"><span class="c2">6. Disclaimers.</span></p>
<p class="c1"><span class="c5">6.1 No Endorsement.</span><span class="c0">&nbsp;Desi Talkies makes no representation that any third party mobile device platform or service provider has endorsed the Services, and you should not rely on the availability of the Services by means of any App catalog, storefront, or other means of downloading as an endorsement of the Services or Desi Talkies generally. In no event shall any third party mobile device platform or service provider have any obligation to you whatsoever to furnish any maintenance and support services with respect to the Services.</span>
</p>
<p class="c1"><span class="c5">6.2 LOCATION-BASED SERVICES.</span><span class="c0">&nbsp;THE LOCATION-BASED SERVICES ARE INTENDED ONLY FOR CONVENIENCE AND SHOULD NOT BE USED OR RELIED ON AS AN EMERGENCY LOCATOR SYSTEM, USED WHILE DRIVING OR OPERATING VEHICLES, OR USED IN CONNECTION WITH ANY HAZARDOUS ENVIRONMENTS REQUIRING FAIL-SAFE PERFORMANCE, OR ANY OTHER APPLICATION IN WHICH THE FAILURE OR INACCURACY OF THE LOCATION-BASED SERVICES COULD LEAD TO DEATH, PERSONAL INJURY, OR PROPERTY DAMAGE.</span>
</p>
<p class="c1"><span class="c5">6.3 Advertisements.</span><span class="c0">&nbsp;The Services may provide paid listings, advertisements or other sponsored information. The Services may also commingle sponsored information with general, unpaid search results and may not distinguish between these two categories of information. Sponsored listings or other advertisements may be given priority in display over unpaid listings.</span>
</p>
<p class="c1 c6"><span class="c2">7. Your Content.</span></p>
<p class="c1"><span class="c5">7.1 Content You Provide.</span><span class="c0">&nbsp;The Services may allow you to submit or generate content. To the extent you have any intellectual property rights in such content, you will retain those rights subject to the grant of a license pursuant to this Section. By uploading or otherwise submitting content in connection with your use of the Services, you grant Desi Talkies (and its affiliates, distributors, and other contractors it may designate in its discretion) a non-exclusive, worldwide, perpetual, royalty-free, non-terminable, transferable, license, with the right to sublicense through multiple tiers, to use, distribute, reproduce, create derivative works of, publicly perform, publicly display and transmit such content for any purpose without any compensation, attribution, or other obligation to you. You agree not to submit content unless you are willing, and have the right, to grant this license for such content. Desi Talkies reserves the right, but not the obligation, to refuse to post, or to remove, in its sole discretion any of your content.</span>
</p>
<p class="c1"><span class="c5">7.2 Limitations on Your Content.</span><span class="c0">&nbsp;You agree that you will not post any content that is unlawful, harmful, offensive, threatening, abusive, harassing, invasive of privacy, defamatory, libelous, vulgar, obscene, pornographic, indecent, lewd, suggestive, profane, hateful, racially, ethnically or otherwise objectionable or inappropriate, or that would give rise to civil liability or violate any applicable local, state, federal or international law. You agree that you will not post any content that consists of political campaigning, chain letters, mass mailings of any kind or any form of SPAM, or reviews that contain the transmission, distribution or delivery of any unsolicited bulk or commercial e-mail. You agree that you will not post content that consists of reviews written or submitted by the reviewed business&rsquo;s owners, employees (past or present), agents, affiliates and/or competitors.</span>
</p>
<p class="c1 c6"><span class="c2">8. Disclaimers, Exclusions, Limitations, and Indemnity.</span></p>
<p class="c1"><span class="c5">8.1 NO WARRANTIES.</span><span
    class="c0">&nbsp;DESI TALKIES PROVIDES THE SERVICES ON AN &ldquo;AS IS&rdquo; AND &ldquo;AS AVAILABLE&rdquo; BASIS. DESI TALKIES DOES NOT REPRESENT OR WARRANT THAT THE SERVICES, USE OF THE SERVICES, OR ANY INFORMATION PROVIDED IN CONNECTION WITH THE SERVICES: (I) WILL BE UNINTERRUPTED OR SECURE, (II) WILL BE FREE OF DEFECTS, DELAYS, INACCURACIES OR ERRORS, (III) WILL MEET YOUR REQUIREMENTS, OR (IV) WILL OPERATE IN THE CONFIGURATION OR WITH HARDWARE OR SOFTWARE YOU USE. DESI TALKIES MAKES NO WARRANTIES OTHER THAN THOSE MADE EXPRESSLY IN THESE TERMS OF USE, AND HEREBY DISCLAIMS ANY AND ALL IMPLIED WARRANTIES, INCLUDING WITHOUT LIMITATION, WARRANTIES OF FITNESS FOR A PARTICULAR PURPOSE, MERCHANTABILITY AND NON-INFRINGEMENT. DESI TALKIES MAKES NO REPRESENTATION OR WARRANTY WITH RESPECT TO ANY THIRD PARTY MATERIALS, INFORMATION, GOODS, OR SERVICE, WHETHER RECEIVED OR ACCESSED VIA ANY LINKS PROVIDED BY OR IN CONNECTION WITH THE SERVICES OR OTHERWISE. DESI TALKIES MAKES NO REPRESENTATION OR WARRANTY WITH RESPECT TO ANY GOODS OR SERVICE WHICH MAY BE PURCHASED OR OBTAINED FROM DESI TALKIES OR ANY THIRD PARTY AS A RESULT OF USING THE SERVICES.</span>
</p>
<p class="c1"><span class="c5">8.2 NO CONSEQUENTIAL DAMAGES.</span><span class="c0">&nbsp;DESI TALKIES WILL NOT BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY CONSEQUENTIAL, INCIDENTAL, INDIRECT, PUNITIVE OR SPECIAL DAMAGES (INCLUDING, WITHOUT LIMITATION, DAMAGES RELATING TO LOST PROFITS, LOST DATA OR LOSS OF GOODWILL) ARISING OUT OF, RELATING TO OR CONNECTED WITH THE USE OF THE SERVICES, REGARDLESS OF THE CAUSE OF ACTION ON WHICH THEY ARE BASED, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGES OCCURRING, INCLUDING WITHOUT LIMITATION, THE COST OF ANY GOODS OR SERVICE WHICH MAY BE PURCHASED OR OBTAINED AS A RESULT OF USING THE SERVICES.</span>
</p>
<p class="c1"><span class="c5">8.3 LIMITATION OF DAMAGES.</span><span class="c0">&nbsp;IN NO EVENT WILL THE AGGREGATE LIABILITY OF DESI TALKIES ARISING FROM, RELATING TO, OR IN CONNECTION WITH THESE TERMS OF USE OR THE SERVICES EXCEED THE GREATER OF: (I) AMOUNTS THAT YOU PAID DESI TALKIES FOR YOUR USE OF THE SERVICES; OR (II) $50.</span>
</p>
<p class="c1"><span class="c5">8.4 STATE LAW EXCEPTIONS.</span><span class="c0">&nbsp;CERTAIN STATE LAWS DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES OR THE EXCLUSION OR LIMITATION OF CERTAIN DAMAGES. AS SUCH, SOME OR ALL OF THE ABOVE DISCLAIMERS, EXCLUSIONS OR LIMITATIONS MAY NOT APPLY TO YOU, AND YOU MAY HAVE ADDITIONAL RIGHTS. UNLESS LIMITED OR MODIFIED BY APPLICABLE LAW, THE FOREGOING DISCLAIMERS, EXCLUSIONS AND LIMITATIONS APPLY, EVEN IF ANY REMEDY FAILS OF ITS ESSENTIAL PURPOSE.</span>
</p>
<p class="c1"><span class="c5">8.5 Indemnity.</span><span class="c0">&nbsp;You agree to defend, indemnify and hold harmless Desi Talkies, its affiliates, and their respective officers, directors, employees, contractors, agents, licensors and suppliers from and against any claims, liabilities, damages, judgments, awards, losses, costs, expenses or fees (including reasonable attorneys&rsquo;
    fees) resulting from your violation of these Terms of Use or your use of the Services.</span></p>
<p class="c1"><span class="c5">8.6 Non-U.S.</span><span class="c0">&nbsp;Access or Use. The Services are intended for use only by persons located in the United States. Desi Talkies makes no claims that the Services or any of their content is accessible or appropriate outside of the United States. Access to the Services may not be legal by certain persons or in certain countries. If you access the Services from outside the United States, you do so on your own initiative and are responsible for compliance with local laws.</span>
</p>
<p class="c1 c6"><span class="c2">9. General.</span></p>
<p class="c1"><span class="c5">9.1 Choice of Law; Jurisdiction.</span><span class="c0">&nbsp;These Terms of Use and any dispute or claim arising out of, or related to, them, their subject matter or their formation (in each case, including non-contractual disputes or claims) shall be governed by and construed in accordance with the internal laws of the State of New York, without giving effect to any conflict of law principles thereof. Any legal suit, action or proceeding arising out of, or related to, these Terms of Use or the Services shall be instituted exclusively in the federal courts of the United States or the courts of the State of New York, in each case located in New York City, Utah. You agree to waive any and all objections to the exercise of jurisdiction over you by such courts and to venue in such courts.</span>
</p>
<p class="c1"><span class="c5">9.2 LIMITATION PERIOD.</span><span class="c0">&nbsp;ANY CAUSE OF ACTION OR CLAIM YOU MAY HAVE ARISING OUT OF OR RELATING TO THESE TERMS OF USE OR THE SERVICE MUST BE COMMENCED WITHIN ONE (1) YEAR AFTER THE CAUSE OF ACTION ACCRUES, OTHERWISE, SUCH CAUSE OF ACTION OR CLAIM IS PERMANENTLY BARRED.</span>
</p>
<p class="c1"><span class="c5">9.3 Waiver.</span><span class="c0">&nbsp;Any waiver by Desi Talkies of any term or condition of these Terms of Use must be in writing. No waiver of these Terms of Use by Desi Talkies shall be deemed a further or continuing waiver of such term or condition or any other term or condition, and any failure of Desi Talkies to assert a right or provision under these Terms of Use shall not constitute a waiver of such right or provision.</span>
</p>
<p class="c1"><span class="c5">9.4 Severability.</span><span class="c0">&nbsp;If any provision of these Terms of Use is held by a court of competent jurisdiction to be invalid, illegal or unenforceable for any reason, such provision shall be eliminated or limited to the minimum extent such that the remaining provisions of the Terms of Use will continue in full force and effect.</span>
</p>
<p class="c1"><span class="c5">9.5 Entire Agreement.</span><span class="c0">&nbsp;These Terms of Use, including the Privacy Policy (which is incorporated herein by this reference), constitute the sole and entire agreement between you and Desi Talkies with respect to the Services and supersede all prior and contemporaneous understandings, agreements, representations and warranties, both written and oral.</span>
</p>
<p class="c1"><span class="c5">9.6 Comments; Technical Support.</span><span class="c0">&nbsp;If you have any comments, requests for technical support and other feedback relating to the Website, please contact us at namaste@desi-talkies.com. Subject to any applicable restrictions under the Privacy Policy, Desi Talkies will be free to use such feedback on an unrestricted basis.</span>
</p>
<p class="c1"><span>&nbsp;</span></p>
<p class="c1 c12"><span></span></p></body>
</html>
