<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type">
  <style type="text/css">ol {
      margin: 0;
      padding: 0
    }

    table td, table th {
      padding: 0
    }

    .c4 {
      background-color: #fbfcfc;
      font-size: 7pt;
      font-family: "Times New Roman";
      color: #403f3e
    }

    .c5 {
      margin-left: 19pt;
      line-height: 1.3636363636363635;
      orphans: 2;
      widows: 2
    }

    .c8 {
      padding-bottom: 8pt;
      line-height: 1.3636363636363635;
      orphans: 2;
      widows: 2
    }

    .c6 {
      padding-bottom: 5pt;
      line-height: 2.0454545454545454;
      orphans: 2;
      widows: 2
    }

    .c0 {
      background-color: #fbfcfc;
      font-size: 10pt;
      color: #403f3e
    }

    .c7 {
      background-color: #fbfcfc;
      font-size: 13.5pt;
      color: #ee3329
    }

    .c2 {
      background-color: #fbfcfc;
      font-size: 13.5pt;
      color: #403f3e
    }

    .c10 {
      orphans: 2;
      widows: 2;
      height: 11pt
    }

    .c12 {
      background-color: #ffffff;
      max-width: 468pt;
      padding: 72pt 72pt 72pt 72pt
    }

    .c3 {
      background-color: #fbfcfc;
      font-size: 20.5pt;
      color: #403f3e
    }

    .c9 {
      line-height: 1.3636363636363635;
      orphans: 2;
      widows: 2
    }

    .c13 {
      orphans: 2;
      widows: 2
    }

    .c15 {
      padding-bottom: 5pt;
      line-height: 2.727272727272727
    }

    .c14 {
      font-size: 12pt;
      font-family: "Times New Roman"
    }

    .c1 {
      font-size: 29.5pt
    }

    .c11 {
      height: 11pt
    }

    .c16 {
      font-weight: 700
    }

    .title {
      padding-top: 0pt;
      color: #000000;
      font-size: 26pt;
      padding-bottom: 3pt;
      font-family: "Arial";
      line-height: 1.15;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: left
    }

    .subtitle {
      padding-top: 0pt;
      color: #666666;
      font-size: 15pt;
      padding-bottom: 16pt;
      font-family: "Arial";
      line-height: 1.15;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: left
    }

    li {
      color: #000000;
      font-size: 11pt;
      font-family: "Arial"
    }

    p {
      margin: 0;
      color: #000000;
      font-size: 11pt;
      font-family: "Arial"
    }

    h1 {
      padding-top: 20pt;
      color: #000000;
      font-size: 20pt;
      padding-bottom: 6pt;
      font-family: "Arial";
      line-height: 1.15;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: left
    }

    h2 {
      padding-top: 18pt;
      color: #000000;
      font-size: 16pt;
      padding-bottom: 6pt;
      font-family: "Arial";
      line-height: 1.15;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: left
    }

    h3 {
      padding-top: 16pt;
      color: #434343;
      font-size: 14pt;
      padding-bottom: 4pt;
      font-family: "Arial";
      line-height: 1.15;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: left
    }

    h4 {
      padding-top: 14pt;
      color: #666666;
      font-size: 12pt;
      padding-bottom: 4pt;
      font-family: "Arial";
      line-height: 1.15;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: left
    }

    h5 {
      padding-top: 12pt;
      color: #666666;
      font-size: 11pt;
      padding-bottom: 4pt;
      font-family: "Arial";
      line-height: 1.15;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: left
    }

    h6 {
      padding-top: 12pt;
      color: #666666;
      font-size: 11pt;
      padding-bottom: 4pt;
      font-family: "Arial";
      line-height: 1.15;
      page-break-after: avoid;
      font-style: italic;
      orphans: 2;
      widows: 2;
      text-align: left
    }</style>
</head>
<body class="c12"><p class="c13 c15"><span class="c1">PRIVACY POLICY</span></p>
<p class="c8"><span class="c2">We take your privacy very seriously. Our privacy commitments are fundamental to the way we do business on a daily basis. We welcome your comments or questions regarding our privacy policy.</span>
</p>
<p class="c10"><span class="c2"></span></p>
<p class="c10"><span class="c2"></span></p>
<p class="c6"><span class="c3">The Bottom Line</span></p>
<p class="c5"><span class="c0">&middot;</span><span class="c4">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span><span
    class="c2">We only collect information you authorize us to have</span></p>
<p class="c5"><span class="c0">&middot;</span><span class="c4">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span><span
    class="c2">We do not sell your information to third-party vendors</span></p>
<p class="c5"><span class="c0">&middot;</span><span class="c4">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span><span
    class="c2">We utilize information you authorize for us to have to help optimize and improve our applications for your benefit</span>
</p>
<p class="c10"><span class="c2"></span></p>
<p class="c10"><span class="c2"></span></p>
<p class="c6"><span class="c3">Terms</span></p>
<p class="c5"><span class="c2">1.</span><span class="c4">&nbsp; &nbsp;</span><span class="c2">Certain personal information, and other information provided by you in the use of the &ldquo;Desi Talkies&rdquo;
    mobile and web applications, may be stored on your Device even if such information is not collected by &ldquo;Desi Talkies&rdquo;. An example of such information would be your saved Favorite movies. You are responsible to maintain the security of your Device from unauthorized users.</span>
</p>
<p class="c5"><span class="c2">2.</span><span class="c4">&nbsp; &nbsp;</span><span class="c2">For your ease of use and convenience, we use your device&rsquo;s location capabilities to provide you with the most relevant local search results data. As an example, if you are in New York, standing on the corner of 80th Street and Broadway and do a search for &quot;Telugu Movies&quot;, the results will list all the Telugu Movies playing around you and the nearest Theater information. Our app recognized that the Theater was the one nearest to you because you shared your location with us through your device. If you choose to &ldquo;Allow&rdquo;
    the Services to use your current location, then, you give &ldquo;Desi Talkies&rdquo; and its vendors permission to use, disclose, and display the current location of your wireless device in the provision of this Service, including geo-tagging any messages or content you willingly provide us with. An example of how a vendor ad would be showcased to you (recognizing your location) in the scenario above would be as follows; After having typed in &ldquo;Telugu Movies&rdquo;
    and the app has provided you with a list of the closest Theaters playing Telugu movies near you, an advertiser ad could be featured on that page showing a special &ldquo;buy one, get one free&rdquo;
    deal at A Restaurant that&rsquo;s only one block away. &ldquo;Desi Talkies&rdquo; is not responsible for your location information should you choose to publicly disclose through the use of our applications. We do not collect any personally identifiable information about you, or share it with other partners or vendors, unless you give us permission to do so through a notice or acceptance. We may also share your information with certain third parties we use to perform certain functions, such as a third-party voice-recognition service provider. Such an entity would provide the software and tools for us to provide you with such a service and/or feature. These third parties will be required to treat your information in accordance with our applicable privacy policies.</span>
</p>
<p class="c5"><span class="c2">3.</span><span class="c4">&nbsp; &nbsp;</span><span class="c2">As indicated in our License Agreement, our applications are designed for adults of legal age (18 years and over) and access to content provided by advertisers or other Third Parties may not be suitable for children. &ldquo;Desi Talkies&rdquo;
    does not knowingly collect personal information from children through our applications.</span></p>
<p class="c5"><span class="c2">4.</span><span class="c4">&nbsp; &nbsp;</span><span class="c2">Most of the personally identifying information we collect is what you tell us about yourself. For example, certain of our products and services allow you to interact and share personal information and data with others. You choose what you want to share and how you want to share it.</span>
</p>
<p class="c5"><span class="c2">5.</span><span class="c4">&nbsp; &nbsp;</span><span class="c2">We collect some information on device-level events, such as crashes, and associate it with your device in order to provide you with the best customer service experience.</span>
</p>
<p class="c5"><span class="c2">6.</span><span class="c4">&nbsp; &nbsp;</span><span class="c2">Most of the other information we collect does not by itself identify you to us, and may vary from device to device and by operating system. This information helps us to provide you with the best user experience, and also aids our staff in providing you support. Such information may have to do with your device and hardware IDs and device type, the request type, your carrier, your carrier user ID, the content of your request, and basic usage stats about your device.</span>
</p>
<p class="c5"><span class="c2">7.</span><span class="c4">&nbsp; &nbsp;</span><span class="c2">For us to offer you the best user experience, our app may allow you to download and/or personalize the content you receive from us. For these products and services, we will record information about your content. A few examples of this are a) your preferred movie languages b) saving and clearing your favorite movies c) rearranging your shortcut buttons.</span>
</p>
<p class="c5"><span class="c2">8.</span><span class="c4">&nbsp; &nbsp;</span><span class="c2">We use your information to process and personalize your requests. We also use the information for support, to develop new features, and to improve the overall quality of and experience of our app for you.</span>
</p>
<p class="c5"><span class="c2">9.</span><span class="c4">&nbsp; &nbsp;</span><span class="c2">We may also use the information to show you a history of your activity and save your favorites, which you have the ability to clear.</span>
</p>
<p class="c5"><span class="c2">10.</span><span class="c4">&nbsp; &nbsp; &nbsp; &nbsp; </span><span class="c2">All of your requests must be sent through your mobile carrier&#39;s network and your carrier may have access to it. For information regarding your carrier&#39;s treatment of your information, please consult your carrier&#39;s privacy policies.</span>
</p>
<p class="c5 c11"><span class="c2"></span></p>
<p class="c6"><span class="c3">Questions</span></p>
<p class="c8"><span class="c2">If you have additional questions, please contact us any time.</span></p>
<p class="c13"><span class="c14">&nbsp;</span></p>
<p class="c9"><span class="c2 c16">Email:</span></p>
<p class="c9"><span class="c7">namaste@desi-talkies.com</span></p></body>
</html>
